  <div class="scroll-to-view">
    <div class="nav-top-wrapper"><img src="/{{directory}}/lv/images/cloud.png" loading="lazy" alt="" class="nav-img">
      <div class="container w-container">
        <div class="fullwidth">
          <div class="nav-left">
            <a href="mailto:info@lvpreschool.co.nz" class="top-nav-link nav-email">info@lvpreschool.co.nz</a>
            <a href="tel:09-948-0365" class="top-nav-link">09-948-0365</a>
          </div>
          <div class="nav-right">
            <div class="social-icons">
              <a href="https://www.facebook.com/LVPreschool" target="_blank" class="social-icon w-inline-block"><img src="/{{directory}}/lv/images/fb.svg" loading="lazy" alt="" class="social-icon-img"></a>
            </div>
          </div>
        </div>
      </div><img src="/{{directory}}/lv/images/bicle.png" loading="lazy" alt="" class="nav-img left">
    </div>
  </div>
  <div data-animation="default" class="main-nav w-nav" data-easing2="ease-in-out" data-easing="ease-in-out" data-collapse="medium" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1">
    <div class="nav-container w-container">
      <a href="{{ url('<front>') }}" class="brand-2 w-nav-brand"><img src="/{{directory}}/lv/images/litte-village.svg" loading="lazy" alt="" class="logo"><img src="/{{directory}}/lv/images/logo-mobile.png" loading="lazy" alt="" class="logo-m"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div class="nav-links">
          <a href="{{ url('<front>') }}" class="nav-link-item w-nav-link">Home</a>
          <a href="/about-us" class="nav-link-item w-nav-link">About us</a>
          <div data-hover="false" data-delay="0" class="nav-dropdown w-dropdown">
            <div class="nav-toggle w-dropdown-toggle">
              <div class="icon w-icon-dropdown-toggle"></div>
              <a href="/parent-info" aria-current="page" class="nav-link-item dropdown w-nav-link w--current">Parent Info</a>
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <a href="/hours-and-fees" class="dropdown-link w-dropdown-link">Hours and Fees</a>
            </nav>
          </div>
          <a href="/gallery" class="nav-link-item w-nav-link">Gallery</a>
          <a href="/enrolment" class="nav-link-item w-nav-link">Enrolment</a>
          <a href="/contact-us" class="nav-link-item w-nav-link">Contact us</a>
        </div>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="nav-bottom-line"></div>
  <div class="main-page-content">
    <div class="page-header"></div>
    <div class="section">
      <h1 class="section-heading">Parent Info</h1>
      <div class="container w-container">
        <div class="parent-info-col switch w-row">
          <div class="parent-info-column-image w-col w-col-6"><img src="/{{directory}}/lv/images/parent-info1.jpeg" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 49vw, 51vw" srcset="/{{directory}}/lv/images/parent-info1-p-500.jpeg 500w, /{{directory}}/lv/images/parent-info1-p-800.jpeg 800w, /{{directory}}/lv/images/parent-info1-p-1080.jpeg 1080w, /{{directory}}/lv/images/parent-info1-p-1600.jpeg 1600w, /{{directory}}/lv/images/parent-info1.jpeg 2048w" alt=""></div>
          <div class="parent-info-column-content w-col w-col-6">
            <h2 class="parentinfo-heading">Our Programme</h2>
            <p>Our programmes and practise are guided by the document Te Whariki – New Zealand’s Early Childhood Curriculum. We also have a range of up-to-date documents and research that we use to base our teachings around. In depth observations are done in order to plan around your child and their interests. A range of assessment tools are also kept to evaluate the learning that takes place.</p>
          </div>
        </div>
        <div class="parent-info-col w-row">
          <div class="parent-info-column-content w-col w-col-6">
            <h2 class="parentinfo-heading">Our Health and Safety Policy</h2>
            <p>All teachers at Little Village Preschool strive to provide a safe and stimulating environment with the welfare of the children being a top priority.  Teachers must also take steps to ensure their own safety and well-being at work. A copy of our policy can be viewed in the office along with all other policies. </p>
          </div>
          <div class="parent-info-column-image w-col w-col-6"><img src="/{{directory}}/lv/images/parent-info2.jpeg" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 49vw, 51vw" srcset="/{{directory}}/lv/images/parent-info2-p-500.jpeg 500w, /{{directory}}/lv/images/parent-info2-p-800.jpeg 800w, /{{directory}}/lv/images/parent-info2-p-1080.jpeg 1080w, /{{directory}}/lv/images/parent-info2-p-1600.jpeg 1600w, /{{directory}}/lv/images/parent-info2.jpeg 2048w" alt=""></div>
        </div>
        <div class="parent-info-col switch last w-row">
          <div class="parent-info-column-image w-col w-col-6"><img src="/{{directory}}/lv/images/parent-info3.png" loading="lazy" sizes="100vw" srcset="/{{directory}}/lv/images/parent-info3-p-500.png 500w, /{{directory}}/lv/images/parent-info3-p-800.png 800w, /{{directory}}/lv/images/parent-info3-p-1080.png 1080w, /{{directory}}/lv/images/parent-info3.png 1356w" alt=""></div>
          <div class="parent-info-column-content w-col w-col-6">
            <h2 class="parentinfo-heading">Meals</h2>
            <p>All our meals (Morning Tea, Lunch, and Afternoon Tea) are cooked and prepared on site by our centre chef. We offer a range of healthy home-cooked meals for children. We also cater to children with differing diets such as vegetarian, halal etc. Please advise staff if your child has any dietary needs or allergies. Lunchboxes are welcome.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="health-safety-section section">
      <h1 class="section-heading">Enrolment Process</h1>
      <div class="w-container">
        <p>Parents are welcome to come in and visit the centre before enrolling their child/ren.<br><br>This gives you the opportunity to meet the staff, see how the centre runs and also ask any questions you may have. While at the centre you will be provided with an enrolment form to complete before your child’s first day.<br><br>Upon enrolment we require a copy of your child’s birth certificate or passport to confirm age and identity and also an up-to-date copy of immunisation certificate.All teachers at Little Village Preschool strive to provide a safe and stimulating environment with the welfare of the children being a top priority.<br><br>Teachers must also take steps to ensure their own safety and well-being at work. A copy of our policy can be viewed in the office along with all other policies. </p>
      </div>
    </div>
    <div>
      <div class="w-row">
        <div class="parent-info-comms-column first w-col w-col-4 w-col-stack">
          <div class="parent-info-comms-content">
            <h2 class="heading3">What to Bring for Your Child</h2>
            <p>Please clearly label all your children’s belongings. It is important that your child has spare clothes and/or nappies/underwear if needed.<br><br>For Summer, we encourage parents to supply a bucket hat and wet bag and during Winter we encourage gumboots and a warm hat.<br><br>Please ensure that your child/ren’s drink bottle and/or lunchbox is clearly labelled. We are also happy for children to bring a comfort or blanket from home for sleep. This can either stay at centre or go home each day.</p>
          </div>
        </div>
        <div class="parent-info-comms-column second w-col w-col-4 w-col-stack">
          <h2 class="heading3 signout-heading">Signing In and Out</h2>
          <div class="sign-inout-text">It is a legal requirement that we maintain records of the number of children who attend each day. Please ensure that the designated person collecting and/or dropping off your child signs in and out on the daily sign sheet in front foyer.<br><br>This is not only Ministry of Education requirement but also in the case of an emergency it is important all children are marked off the roll when we are doing our checks.</div>
        </div>
        <div class="parent-info-comms-column third w-col w-col-4 w-col-stack">
          <div class="parent-info-comms-content">
            <h2 class="heading3">Our Commitment to Communication</h2>
            <p>Here at Little Village Preschool, we are committed to working in partnership with parents/whanau through the means of daily communication. We use a range of mediums to do so such as teacher interaction, newsletters, parent evenings, facebook, notices, portfolios and photographs.<br><br>If ever there are any questions or queries relating to our care and service, your child’s journey, your child’s teachers or anything else please do not hesitate to contact centre management. For any areas of concern, our formal Complaints Procedure is available for viewing in the front foyer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <script>
        document.addEventListener('click', e => {
          if (e.target.matches('.accordion-toggle')) {
            e.target.parentElement.classList.toggle('accordion-open');
          }
        });
      </script>
      <div class="parrent-info-accordion container w-container">
        <div class="accordion-wrapper">
          <div data-hover="false" data-delay="0" data-w-id="265ae979-0bc8-142c-11fb-17d23970714c" style="height:60px" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <div class="accordion-text">Holidays and Closures</div>
              <div class="accordion-icon green">
                <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="accordion-icon-arrow w-icon-dropdown-toggle"></div>
              </div>
            </div>
            <nav class="accordion-content w-dropdown-list">
              <p>Here at Little Village Preschool every child is entitled to a maximum of 20 holiday days.<br><br>This means that with at least two weeks’ notice of a holiday we will charge you at a 50% rate for the time of the holiday.<br><br>(Each child’s entitlement is worked out according to the number of enrolled days) Little Village Preshool does not have any periods of holiday closure throughout the year and is only closed for statutory holidays (public holidays). </p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="e33f51fd-0449-4455-2908-1fe44919df55" style="height:60px" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <div class="accordion-text">Payment of Fees</div>
              <div class="accordion-icon green">
                <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="accordion-icon-arrow w-icon-dropdown-toggle"></div>
              </div>
            </div>
            <nav class="accordion-content w-dropdown-list">
              <p>Payment is expected within the week of invoicing, Accounts will be invoiced every Monday.<br><br>For <strong>WINZ</strong> payments, please note, these will show on your account on average with a 1-2 week delay.<br><br>Payment methods include automatic payment and/or cash.</p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="bde68bc4-775e-4fa8-2494-253441e895a9" style="height:60px" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <div class="accordion-text">Subsidies</div>
              <div class="accordion-icon green">
                <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="accordion-icon-arrow w-icon-dropdown-toggle"></div>
              </div>
            </div>
            <nav class="accordion-content w-dropdown-list">
              <p>Childcare subsidies are available if your circumstances qualify and a <strong>WINZ</strong> application form can be provided if requested. </p>
            </nav>
          </div>
          <div data-hover="false" data-delay="0" data-w-id="d9d65c8b-db03-e6dd-990e-a11158e7607c" style="height:60px" class="accordion-item w-dropdown">
            <div class="accordion-toggle w-dropdown-toggle">
              <div class="accordion-text">Termination</div>
              <div class="accordion-icon green">
                <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="accordion-icon-arrow w-icon-dropdown-toggle"></div>
              </div>
            </div>
            <nav class="accordion-content w-dropdown-list">
              <p>Children who are absent continuously for a period of 21days or more without notification or contact will have their enrolment withdrawn and terminated as per the Ministry of Education’s Absence rule.<br><br>Parents will have the option to return but will need to re-enrol their child.<br><br> If for any reason a parent or caregiver wishes to withdraw their child’s enrolment, they will need to give at least two weeks’ notice to do so.</p>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include '@base/lv/layout/footer.html.twig' %}
