  <div class="scroll-to-view">
    <div class="nav-top-wrapper"><img src="/{{directory}}/lv/images/cloud.png" loading="lazy" alt="" class="nav-img">
      <div class="container w-container">
        <div class="fullwidth">
          <div class="nav-left">
            <a href="mailto:info@lvpreschool.co.nz" class="top-nav-link nav-email">info@lvpreschool.co.nz</a>
            <a href="tel:09-948-0365" class="top-nav-link">09-948-0365</a>
          </div>
          <div class="nav-right">
            <div class="social-icons">
              <a href="https://www.facebook.com/LVPreschool" target="_blank" class="social-icon w-inline-block"><img src="/{{directory}}/lv/images/fb.svg" loading="lazy" alt="" class="social-icon-img"></a>
            </div>
          </div>
        </div>
      </div><img src="/{{directory}}/lv/images/bicle.png" loading="lazy" alt="" class="nav-img left">
    </div>
  </div>
  <div data-animation="default" class="main-nav w-nav" data-easing2="ease-in-out" data-easing="ease-in-out" data-collapse="medium" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1">
    <div class="nav-container w-container">
      <a href="{{ url('<front>') }}" class="brand-2 w-nav-brand"><img src="/{{directory}}/lv/images/litte-village.svg" loading="lazy" alt="" class="logo"><img src="/{{directory}}/lv/images/logo-mobile.png" loading="lazy" alt="" class="logo-m"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div class="nav-links">
          <a href="{{ url('<front>') }}" class="nav-link-item w-nav-link">Home</a>
          <a href="/about-us" class="nav-link-item w-nav-link">About us</a>
          <div data-hover="false" data-delay="0" class="nav-dropdown w-dropdown">
            <div class="nav-toggle w-dropdown-toggle">
              <div class="icon w-icon-dropdown-toggle"></div>
              <a href="/parent-info" class="nav-link-item dropdown w-nav-link">Parent Info</a>
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <a href="/hours-and-fees" class="dropdown-link w-dropdown-link">Hours and Fees</a>
            </nav>
          </div>
          <a href="/gallery" class="nav-link-item w-nav-link">Gallery</a>
          <a href="/enrolment" class="nav-link-item w-nav-link">Enrolment</a>
          <a href="/contact-us" aria-current="page" class="nav-link-item w-nav-link w--current">Contact us</a>
        </div>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="nav-bottom-line"></div>
  <div class="main-page-content">
    <div class="page-header"></div>
    <div class="section">
      <div class="container w-container">
        <h1 class="section-heading">Contact us</h1>
        <div class="w-form">
          <div class="contact-page-columns w-row">
            <div class="contact-page-col w-col w-col-3 w-col-medium-3 w-col-small-small-stack"><img src="/{{directory}}/lv/images/map.svg" loading="lazy" alt="46 Ambler Avenue,Glen Eden" class="contact-page-icon">
              <a href="https://goo.gl/maps/zWfpdWSFx9yTWnbr5" target="_blank" class="contact-us-text alt">46 Ambler Avenue,<br>Glen Eden</a>
            </div>
            <div class="contact-page-col w-col w-col-3 w-col-medium-3 w-col-small-small-stack"><img src="/{{directory}}/lv/images/yellow-email.svg" loading="lazy" alt="info@lvpreschool.co.nz" class="contact-page-icon">
              <a href="mailto:info@lvpreschool.co.nz" class="contact-us-text alt">info@lvpreschool.co.nz</a>
            </div>
            <div class="contact-page-col w-col w-col-3 w-col-medium-3 w-col-small-small-stack"><img src="/{{directory}}/lv/images/phone.svg" loading="lazy" alt="09-948-0365" class="contact-page-icon">
              <a href="tel:09-948-0365" class="contact-us-text alt">09-948-0365</a>
            </div>
            <div class="contact-page-col w-col w-col-3 w-col-medium-3 w-col-small-small-stack"><img src="/{{directory}}/lv/images/download.svg" loading="lazy" alt="download" class="contact-page-icon">
              <a href="#" class="contact-text-link">Enrolment Form </a>
            </div>
          </div>
          {{ drupal_entity('webform', 'contact') }}
        </div>
      </div>
    </div>
    <div>
      <div class="w-widget w-widget-map" data-widget-style="roadmap" data-widget-latlng="-36.918088,174.6470745" aria-label="46 Ambler Avenue, Glen Eden, Auckland 0602" data-enable-scroll="true" role="region" title="46 Ambler Avenue, Glen Eden, Auckland 0602" data-enable-touch="true" data-widget-zoom="16" data-widget-tooltip=""></div>
    </div>
  </div>
{% include '@base/lv/layout/footer.html.twig' %}
