  <div class="scroll-to-view">
    <div class="nav-top-wrapper"><img src="/{{directory}}/lv/images/cloud.png" loading="lazy" alt="" class="nav-img">
      <div class="container w-container">
        <div class="fullwidth">
          <div class="nav-left">
            <a href="mailto:info@lvpreschool.co.nz" class="top-nav-link nav-email">info@lvpreschool.co.nz</a>
            <a href="tel:09-948-0365" class="top-nav-link">09-948-0365</a>
          </div>
          <div class="nav-right">
            <div class="social-icons">
              <a href="https://www.facebook.com/LVPreschool" target="_blank" class="social-icon w-inline-block"><img src="/{{directory}}/lv/images/fb.svg" loading="lazy" alt="" class="social-icon-img"></a>
            </div>
          </div>
        </div>
      </div><img src="/{{directory}}/lv/images/bicle.png" loading="lazy" alt="" class="nav-img left">
    </div>
  </div>
  <div data-animation="default" class="main-nav w-nav" data-easing2="ease-in-out" data-easing="ease-in-out" data-collapse="medium" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1">
    <div class="nav-container w-container">
      <a href="{{ url('<front>') }}" class="brand-2 w-nav-brand"><img src="/{{directory}}/lv/images/litte-village.svg" loading="lazy" alt="" class="logo"><img src="/{{directory}}/lv/images/logo-mobile.png" loading="lazy" alt="" class="logo-m"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div class="nav-links">
          <a href="{{ url('<front>') }}" class="nav-link-item w-nav-link">Home</a>
          <a href="/about-us" class="nav-link-item w-nav-link">About us</a>
          <div data-hover="false" data-delay="0" class="nav-dropdown w-dropdown">
            <div class="nav-toggle w-dropdown-toggle">
              <div class="icon w-icon-dropdown-toggle"></div>
              <a href="/parent-info" class="nav-link-item dropdown w-nav-link">Parent Info</a>
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <a href="/hours-and-fees" class="dropdown-link w-dropdown-link">Hours and Fees</a>
            </nav>
          </div>
          <a href="/gallery" aria-current="page" class="nav-link-item w-nav-link w--current">Gallery</a>
          <a href="/enrolment" class="nav-link-item w-nav-link">Enrolment</a>
          <a href="/contact-us" class="nav-link-item w-nav-link">Contact us</a>
        </div>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="nav-bottom-line"></div>
  <div class="main-page-content">
    <div class="page-header"></div>
    <section id="gallery" class="section">
      <div class="container w-container">
        <h1 class="section-heading">Gallery</h1>
        <div class="gallery-grid-container-2">
          <a href="#" id="w-node-_2ef3570d-68ca-565b-c8d6-8f635acdb8cc-725a0390" class="gallery-lightbox featured w-lightbox"><img src="/{{directory}}/lv/images/gallery9.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/gallery9-p-500.jpeg 500w, /{{directory}}/lv/images/gallery9-p-800.jpeg 800w, /{{directory}}/lv/images/gallery9-p-1080.jpeg 1080w, /{{directory}}/lv/images/gallery9-p-1600.jpeg 1600w, /{{directory}}/lv/images/gallery9.jpeg 2048w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "gallery9.jpeg",
      "fileName": "gallery9.jpeg",
      "fileSize": 330453,
      "height": 1536,
      "url": "{{ directory }}/lv/images/gallery9.jpeg",
      "width": 2048,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/gallery12.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/gallery12-p-500.jpeg 500w, /{{directory}}/lv/images/gallery12-p-800.jpeg 800w, /{{directory}}/lv/images/gallery12-p-1080.jpeg 1080w, /{{directory}}/lv/images/gallery12-p-1600.jpeg 1600w, /{{directory}}/lv/images/gallery12.jpeg 2048w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "gallery12.jpeg",
      "fileName": "gallery12.jpeg",
      "fileSize": 383642,
      "height": 1536,
      "url": "{{ directory }}/lv/images/gallery12.jpeg",
      "width": 2048,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/gallery7.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/gallery7-p-500.jpeg 500w, /{{directory}}/lv/images/gallery7-p-800.jpeg 800w, /{{directory}}/lv/images/gallery7-p-1080.jpeg 1080w, /{{directory}}/lv/images/gallery7-p-1600.jpeg 1600w, /{{directory}}/lv/images/gallery7.jpeg 2048w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "gallery7.jpeg",
      "fileName": "gallery7.jpeg",
      "fileSize": 280161,
      "height": 1536,
      "url": "{{ directory }}/lv/images/gallery7.jpeg",
      "width": 2048,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/parent-info1.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/parent-info1-p-500.jpeg 500w, /{{directory}}/lv/images/parent-info1-p-800.jpeg 800w, /{{directory}}/lv/images/parent-info1-p-1080.jpeg 1080w, /{{directory}}/lv/images/parent-info1-p-1600.jpeg 1600w, /{{directory}}/lv/images/parent-info1.jpeg 2048w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "parent-info1.jpeg",
      "fileName": "parent-info1.jpeg",
      "fileSize": 359802,
      "height": 1536,
      "url": "{{ directory }}/lv/images/parent-info1.jpeg",
      "width": 2048,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/parent-info2.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/parent-info2-p-500.jpeg 500w, /{{directory}}/lv/images/parent-info2-p-800.jpeg 800w, /{{directory}}/lv/images/parent-info2-p-1080.jpeg 1080w, /{{directory}}/lv/images/parent-info2-p-1600.jpeg 1600w, /{{directory}}/lv/images/parent-info2.jpeg 2048w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "parent-info2.jpeg",
      "fileName": "parent-info2.jpeg",
      "fileSize": 287198,
      "height": 1536,
      "url": "{{ directory }}/lv/images/parent-info2.jpeg",
      "width": 2048,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/parent-info3.png" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/parent-info3-p-500.png 500w, /{{directory}}/lv/images/parent-info3-p-800.png 800w, /{{directory}}/lv/images/parent-info3-p-1080.png 1080w, /{{directory}}/lv/images/parent-info3.png 1356w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "parent-info3.png",
      "fileName": "parent-info3.png",
      "fileSize": 1750444,
      "height": 1017,
      "url": "{{ directory }}/lv/images/parent-info3.png",
      "width": 1356,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/galler13.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/galler13-p-500.jpeg 500w, /{{directory}}/lv/images/galler13-p-800.jpeg 800w, /{{directory}}/lv/images/galler13-p-1080.jpeg 1080w, /{{directory}}/lv/images/galler13.jpeg 1536w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "galler13.jpeg",
      "fileName": "galler13.jpeg",
      "fileSize": 361429,
      "height": 2048,
      "url": "{{ directory }}/lv/images/galler13.jpeg",
      "width": 1536,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/parent-info4.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/parent-info4-p-500.jpeg 500w, /{{directory}}/lv/images/parent-info4.jpeg 960w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "parent-info4.jpeg",
      "fileName": "parent-info4.jpeg",
      "fileSize": 120935,
      "height": 720,
      "url": "{{ directory }}/lv/images/parent-info4.jpeg",
      "width": 960,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/gallery10.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/gallery10-p-500.jpeg 500w, /{{directory}}/lv/images/gallery10.jpeg 720w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "gallery10.jpeg",
      "fileName": "gallery10.jpeg",
      "fileSize": 125198,
      "height": 960,
      "url": "{{ directory }}/lv/images/gallery10.jpeg",
      "width": 720,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/gallery6.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/gallery6-p-500.jpeg 500w, /{{directory}}/lv/images/gallery6.jpeg 720w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "gallery6.jpeg",
      "fileName": "gallery6.jpeg",
      "fileSize": 143726,
      "height": 960,
      "url": "{{ directory }}/lv/images/gallery6.jpeg",
      "width": 720,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/gallery8.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/gallery8-p-500.jpeg 500w, /{{directory}}/lv/images/gallery8.jpeg 720w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "gallery8.jpeg",
      "fileName": "gallery8.jpeg",
      "fileSize": 95591,
      "height": 960,
      "url": "{{ directory }}/lv/images/gallery8.jpeg",
      "width": 720,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/gallery1.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/gallery1-p-500.jpeg 500w, /{{directory}}/lv/images/gallery1-p-800.jpeg 800w, /{{directory}}/lv/images/gallery1-p-1080.jpeg 1080w, /{{directory}}/lv/images/gallery1-p-1600.jpeg 1600w, /{{directory}}/lv/images/gallery1.jpeg 2048w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "gallery1.jpeg",
      "fileName": "gallery1.jpeg",
      "fileSize": 551376,
      "height": 1536,
      "url": "{{ directory }}/lv/images/gallery1.jpeg",
      "width": 2048,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/gallery5.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/gallery5-p-500.jpeg 500w, /{{directory}}/lv/images/gallery5-p-800.jpeg 800w, /{{directory}}/lv/images/gallery5-p-1080.jpeg 1080w, /{{directory}}/lv/images/gallery5-p-1600.jpeg 1600w, /{{directory}}/lv/images/gallery5.jpeg 2048w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "gallery5.jpeg",
      "fileName": "gallery5.jpeg",
      "fileSize": 558276,
      "height": 1536,
      "url": "{{ directory }}/lv/images/gallery5.jpeg",
      "width": 2048,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/gallery2.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/gallery2-p-500.jpeg 500w, /{{directory}}/lv/images/gallery2-p-800.jpeg 800w, /{{directory}}/lv/images/gallery2-p-1080.jpeg 1080w, /{{directory}}/lv/images/gallery2-p-1600.jpeg 1600w, /{{directory}}/lv/images/gallery2.jpeg 2048w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "gallery2.jpeg",
      "fileName": "gallery2.jpeg",
      "fileSize": 491416,
      "height": 1536,
      "url": "{{ directory }}/lv/images/gallery2.jpeg",
      "width": 2048,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/gallery4.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/gallery4-p-500.jpeg 500w, /{{directory}}/lv/images/gallery4.jpeg 960w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "gallery4.jpeg",
      "fileName": "gallery4.jpeg",
      "fileSize": 108873,
      "height": 720,
      "url": "{{ directory }}/lv/images/gallery4.jpeg",
      "width": 960,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/gallery3.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/gallery3-p-500.jpeg 500w, /{{directory}}/lv/images/gallery3-p-800.jpeg 800w, /{{directory}}/lv/images/gallery3-p-1080.jpeg 1080w, /{{directory}}/lv/images/gallery3-p-1600.jpeg 1600w, /{{directory}}/lv/images/gallery3.jpeg 2048w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "gallery3.jpeg",
      "fileName": "gallery3.jpeg",
      "fileSize": 628353,
      "height": 1536,
      "url": "{{ directory }}/lv/images/gallery3.jpeg",
      "width": 2048,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
          <a href="#" class="gallery-lightbox w-lightbox"><img src="/{{directory}}/lv/images/gallery11.jpeg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 22vw, 23vw" srcset="/{{directory}}/lv/images/gallery11-p-500.jpeg 500w, /{{directory}}/lv/images/gallery11.jpeg 960w" alt="" class="gallery-thumbnail">
            <script type="application/json" class="w-json">{
  "items": [
    {
      "_id": "example_img",
      "origFileName": "gallery11.jpeg",
      "fileName": "gallery11.jpeg",
      "fileSize": 111137,
      "height": 720,
      "url": "{{ directory }}/lv/images/gallery11.jpeg",
      "width": 960,
      "type": "image"
    }
  ],
  "group": "Gallery"
}</script>
          </a>
        </div>
      </div>
    </section>
  </div>
{% include '@base/lv/layout/footer.html.twig' %}
