  <div class="scroll-to-view">
    <div class="nav-top-wrapper"><img src="/{{directory}}/lv/images/cloud.png" loading="lazy" alt="" class="nav-img">
      <div class="container w-container">
        <div class="fullwidth">
          <div class="nav-left">
            <a href="mailto:info@lvpreschool.co.nz" class="top-nav-link nav-email">info@lvpreschool.co.nz</a>
            <a href="tel:09-948-0365" class="top-nav-link">09-948-0365</a>
          </div>
          <div class="nav-right">
            <div class="social-icons">
              <a href="https://www.facebook.com/LVPreschool" target="_blank" class="social-icon w-inline-block"><img src="/{{directory}}/lv/images/fb.svg" loading="lazy" alt="" class="social-icon-img"></a>
            </div>
          </div>
        </div>
      </div><img src="/{{directory}}/lv/images/bicle.png" loading="lazy" alt="" class="nav-img left">
    </div>
  </div>
  <div data-animation="default" class="main-nav w-nav" data-easing2="ease-in-out" data-easing="ease-in-out" data-collapse="medium" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1">
    <div class="nav-container w-container">
      <a href="{{ url('<front>') }}" class="brand-2 w-nav-brand"><img src="/{{directory}}/lv/images/litte-village.svg" loading="lazy" alt="" class="logo"><img src="/{{directory}}/lv/images/logo-mobile.png" loading="lazy" alt="" class="logo-m"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div class="nav-links">
          <a href="{{ url('<front>') }}" class="nav-link-item w-nav-link">Home</a>
          <a href="/about-us" aria-current="page" class="nav-link-item w-nav-link w--current">About us</a>
          <div data-hover="false" data-delay="0" class="nav-dropdown w-dropdown">
            <div class="nav-toggle w-dropdown-toggle">
              <div class="icon w-icon-dropdown-toggle"></div>
              <a href="/parent-info" class="nav-link-item dropdown w-nav-link">Parent Info</a>
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <a href="/hours-and-fees" class="dropdown-link w-dropdown-link">Hours and Fees</a>
            </nav>
          </div>
          <a href="/gallery" class="nav-link-item w-nav-link">Gallery</a>
          <a href="/enrolment" class="nav-link-item w-nav-link">Enrolment</a>
          <a href="/contact-us" class="nav-link-item w-nav-link">Contact us</a>
        </div>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="nav-bottom-line"></div>
  <div class="main-page-content">
    <div class="page-header"></div>
    <div class="section">
      <div class="container w-container">
        <h1 class="section-heading">About us</h1>
        <p class="about-intro">We are a small, homely centre ready to offer you and your child/ren the peace<br>of mind that they are receiving quality, holistic care, and education</p>
        <div class="row">
          <div class="columns-6 w-row">
            <div class="column-2 w-col w-col-5 w-col-stack w-col-small-small-stack w-col-tiny-tiny-stack"><img src="/{{directory}}/lv/images/enrol-now.jpeg" alt="" class="feature-image-2"></div>
            <div class="w-col w-col-7 w-col-stack w-col-small-small-stack w-col-tiny-tiny-stack">
              <div class="div-block-5">
                <div class="w-row">
                  <div class="w-col w-col-6">
                    <div class="about-col">
                      <h2 class="heading3 brown">Our Vision</h2>
                      <p>Where everyone has a place – by creating a warm, inviting environment we are able to provide children a safe space to explore and reach their highest potential.</p>
                    </div>
                  </div>
                  <div class="w-col w-col-6">
                    <div class="about-col">
                      <h2 class="heading3 brown">Our Mission</h2>
                      <p>We are committed to providing an environment where the child can unleash his or her full potential throughcuriosity, creativity, and play. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <h3 class="heading3 brown philo">Our Philosophy</h3>
                <p>Here at the Little Village Preschool, we believe that by providing a <strong>safe and nurturing</strong> environment we are able to enrich the <strong>whole child</strong>. We are committed to providing an environment of learning that is stimulating, where the child can feel comfortable, thereby unleashing his or her full potential.<br>‍<br>We strive to nurture <strong>socially competent</strong> children who are able to embrace life independently, resourcefully, and happily. We feel that children are natural born risk takers and believe that reinforcing a child’s thinking skills prepares them for all of life’s challenges.<br>‍<br>We believe open communication with children, whanau and staff is essential in keeping a strong, responsive, and <strong>honest</strong> relationship. <strong>Open-mindedness</strong> towards diversity and cultural awareness is important not only for teaching but learning as well. We ensure our indigenous <strong>culture and language</strong> te reo Māori is encouraged through our daily practice as well as<br>‍<br>Our staff acknowledge that relationships are fundamental to learning as well as the <strong>partnerships</strong> between whanau, centre, and staff. Each child and whanau deserve to be treated fairly and as individuals providing them with a sense of <strong>empowerment</strong> and belonging within the centre. We believe every child is part of our family and therefore so is their whanau.<br>‍<br>We believe every child has an individual way of knowing, being and doing and should be <strong>respected</strong>. Inclusion and understanding of each child as an individual are crucial.<br><br><strong>Leadership</strong> of the child and staff should be welcomed and encouraged through ideas, interests, and opinions.<br>‍<br>At Little Village Preschool we respect and understand the power of <strong>play</strong> and <strong>exploration</strong> within the environment. We believe in creating strong, independent, resilient <strong>life-long learners</strong> who are confident and courageous as well as competent and creative.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include '@base/lv/layout/footer.html.twig' %}
